# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Build folders
build/

# IDEs
.idea/
*.iml
*.ipr
*.iws
*.class

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
nbbuild/
nbproject/private/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env
